#root {
  width: calc(100% - 20px);
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-name {
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none !important;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.itagnok-container {
  width: 100%;
  height: calc(100vh - 80px);
  align-content: center;
  text-align: center;
}